body{
    background-image:url("images/ellen.jpg");
    font-family: 'Handlee' , cursive;
}
#headlines{
    margin-left: 10px;
    font-weight: bolder; 
    color:royalblue;
    border-radius: 8px 8px 8px 8px
    
}
#headlines:hover{
    background-color: white;
    width: 20%;
}
nav{
    width:100%;
    height:80px;
    background-color:white;

}

nav p{
    font-family: arial;
    float:left;
    font-size:34px;
    line-height:30px;            /*TO DO: design logo further*/
    padding-top:0;
    font-weight: bolder;
    color:yellowgreen;
    border-radius: 4px 4px 4px 4px;
    height: 100%;

    } 
nav{
    float:left;

}
nav ul li{
    float:left;
    list-style: none;
    padding:20px;
    position:relative;
    font-size: 24px;
    padding-left: 40px;
    color:black;
    }
    nav ul li a{
        text-decoration:none;
    }
    nav ul li ul a{
        font-size: 14px;
        display: block;
        padding:10px 4px;
        font-family: arial;
    }
    nav ul li ul{
        display: none;
        position:absolute;
        background-color:white;
        border-radius: 0px  0px 4px 4px;
    }
    nav ul li:hover ul{
        display: block;
    }
    nav ul li ul li{
        border-radius:4px;
    }
    nav ul li ul li:hover{
        background-color:grey;
        height: 50%;

    }
    
    #carrie{
        float:left;
        height:300px;
        width: 350px;
        border-radius:8px;
        border: 1px solid #ddd;
        padding: 5px;
    }
    #carrie :hover{
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }
    .videos{
        display:inline-block;
        padding: 20px;
    }
    
    #bgimg{
        padding-top:30px;
        background-repeat: no-repeat;
        background-color:gray;
        font-size: 18px;
        background-blend-mode:inherit; 
    }
    #fontcolor{
        font-weight: bold;
    }
    #bold{
        color:red;
        font-weight: bold;
    
    }
    a:link{
        text-decoration:none;
    }
    #align-mail{
    
        margin-left: 20%;
        padding-top: 0%;
        padding-bottom:0;
    }
    #electro{
        background-color:darkgrey;
    }
    footer ul{
        list-style:none;
        height:100%;
        width:100%;
        background-color:white;
        padding-top: 10px;
        padding-bottom:0px;
      
    }
footer ul li{
    display: inline-block;
    margin-left: 0px;
}
footer{
    background-color:white; 
}
/*
footer:hover{
    background-color:white;
}*/
 nav:hover ~ #hide{
    display:none;
}
#fitin {
    list-style-type:none;
}
#welcome{
    font-weight: bolder;
    font-size: 40px;
    color:green;
   text-align:center;
   padding-top: 120px;
}
#track{
    color: red;
}

#bton{
    display:none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
#bton :hover{
    background-color: #555;
}
/*
nav ul li a{
    border: 3px;
    border-style: solid;
    padding: 4px; 
    font-weight: bolder;

}
/*header ul li h1{
    font-family: arial;
    float:left;
    font-size:34px;
    line-height:30px;            /*TO DO: design log further*/
  /*  padding-top:0;
    font-weight: bolder;
    color: black;
    border-radius: 4px 4px 4px 4px;
    height: 100%;
    font-style: oblique;
}
header ul li{
    list-style: none;
}

header ul li ul{

}
header ul li{

}
